<!-- Latest-Prayers -->
<section class="latest_blog section-padding bg-gray">
    <div class="container">
        <div class="blog">
            <div class="section-header text-center">
                <h2>Latest Prayer Sessions</h2>
            </div>
            {{ content }}
        </div>
{#        <div class="cta-area mg-top-50">#}
{#            <a href="#" class="btn btn-sm pull-right">See All News</a>#}
{#        </div>#}
    </div>
</section>
