<section class="main-banner-section">
  <div class="sa-main-banner owl-carousel">
    <div class="item section-padding">
      <div class="container">
        <div class="intro_text white_text">
          <h1>God Gives Us Power</h1>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
          <a href="#" class="btn btn-lg dark-btn">Explore Events</a>
        </div>
      </div>
    </div>
    <div class="item section-padding">
      <div class="container">
        <div class="intro_text white_text">
          <h1>God Gives Us Power</h1>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
          <a href="#" class="btn btn-lg dark-btn">Explore Events</a>
        </div>
      </div>
    </div>
  </div>
</section>
