<section class="sa-place-section pd-default-3 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="sa-section-title text-center">
          <h2>{{ 'Our Branches' }}</h2>
          <p>{{ 'We are based in Croydon and Norwood. More information can be displayed here or not at all' }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ content.field_branches }}
    </div>
  </div>
</section>
