<section class="about_intro section-padding">
  <div class="container">
    <div class="about_us">
      <div class="section-header text-center">
        <h2>{{ content.field_title }}</h2>
      </div>
    {{ content.field_text }}
    </div>
    <div class="text-center">
      {{ content.field_button }}
    </div>
  </div>
</section>
