<section class="sa-place-section pd-default-3 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="sa-section-title text-center">
          <h2>{{ 'Our Branches' }}</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ content.field_branches }}
    </div>
  </div>
</section>
