<article>
    <h1>
        {{ type_resource.title }}
    </h1>
    <div class="sermon-center align-middle align-content-center align-items-center ">

        <img src="/themes/custom/tbc/images/teasers/{{ type_resource.image_filename }}.png" alt="image">
        <br>
        <br>
        {{ content.field_sermon_file }}
    </div>

</article>
