{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}
<nav id="navigation_bar" class="navbar navbar-default sa-navbar">

  <!-- Navigation -->
  <div class="container">
    <div class="navbar-header">
      <div class="logo">
        <a href="index.html"><img src="/themes/custom/tbc/images/TBC-New-Logo-copy.png"
                                  alt="image"/></a>
      </div> <!-- /Logo -->
      <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse"
              class="navbar-toggle collapsed" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {% if items %}
          {% for item in items %}
            <li class="dropdown"><a href="{{ item.url }}">{{ item.title }} <span class="nav_arrow"></span></a>
              <ul class="sub-menu">
                <li><a href="home-1.html">Home 01</a></li>
                <li><a href="home-2.html">Home 02</a></li>
                <li><a href="home-3.html">Home 03</a></li>
                <li><a href="home-4.html">Home 04</a></li>
                <li><a href="home-5.html">Home 05</a></li>
              </ul>
            </li>
          {% endfor %}
        {% endif %}
        {#<li class="dropdown"><a href="#">Home <span class="nav_arrow"></span></a>#}
          {#<ul class="sub-menu">#}
            {#<li><a href="home-1.html">Home 01</a></li>#}
            {#<li><a href="home-2.html">Home 02</a></li>#}
            {#<li><a href="home-3.html">Home 03</a></li>#}
            {#<li><a href="home-4.html">Home 04</a></li>#}
            {#<li><a href="home-5.html">Home 05</a></li>#}
          {#</ul>#}
        {#</li>#}
        {#<li class="dropdown"><a href="#">Landing <span class="nav_arrow"></span></a>#}
          {#<ul class="sub-menu">#}
            {#<li><a href="landing-charity.html">landing charity</a></li>#}
            {#<li><a href="landing-donation.html">landing donation</a></li>#}
            {#<li><a href="landing-event.html">landing event</a></li>#}
            {#<li><a href="landing-ngo.html">landing ngo</a></li>#}
            {#<li><a href="landing-non-profit.html">landing nonprofit</a></li>#}
          {#</ul>#}
        {#</li>#}
        {#<li class="dropdown"><a href="#">Pages <span class="nav_arrow"></span></a>#}
          {#<ul class="sub-menu">#}
            {#<li><a href="about-us.html">About Us</a></li>#}
            {#<li><a href="about-the-pastor.html">about pastor</a></li>#}
            {#<li><a href="blog.html">Blog</a></li>#}
            {#<li><a href="blog-detail.html">Blog Detail</a></li>#}
            {#<li><a href="events.html">Event</a></li>#}
            {#<li><a href="event-detail.html">Event Detail</a></li>#}
            {#<li><a href="event-extended.html">Event Extended</a></li>#}
            {#<li><a href="shop.html">Shop</a></li>#}
            {#<li><a href="shop-details.html">Shop details</a></li>#}
          {#</ul>#}
        {#</li>#}
        {#<li class="dropdown"><a href="#">Others <span class="nav_arrow"></span></a>#}
          {#<ul class="sub-menu">#}
            {#<li><a href="event-shudule.html">Event Shudule</a></li>#}
            {#<li><a href="history-slide.html">history slide</a></li>#}
            {#<li><a href="sermon.html">Sermon</a></li>#}
            {#<li><a href="sermon-detail.html">Sermon detail</a></li>#}
            {#<li><a href="prayer-wall.html">Prayer wall</a></li>#}
            {#<li><a href="donation.html">Donation</a></li>#}
            {#<li><a href="donation-cause-page.html">donation cause</a></li>#}
            {#<li><a href="contact-us.html">Contact</a></li>#}
          {#</ul>#}
        {#</li>#}
        <li><a class="sa_count" href="shop-details.html"><i class="fa fa-heart"></i><span>5</span></a></li>
        <li><a class="sa_count" href="shop-details.html"><i class="fa fa-shopping-cart"></i><span>3</span></a></li>
        <li><a class="btn dark-btn" href="donation.html">Donate</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation end -->
