<div class="col-md-6">
  <div class="sa-place-single">
    <img src="{{ applyImageStyle(branch_image, 'teaser') }}" alt="">
    <div class="sa-place-info">
      <h2>{{ label }}</h2>
      <p>This can be information talking about the croydon or norwood branch</p>
      <a class="sa-btn-transparent" href="">Details <i class="fa fa-caret-right"></i></a>
    </div>
  </div>
</div>
